button{
    &.digit{
        background-color: #050505;
    }
    &.op{
        background-color: #222;
    }
    &.digit:hover, &.op:hover{
        background-color: #555;
    }

    &.equal{
        background-color: #033d6d;
    }
    &.equal:hover{
        background-color: #0572c5;
    }
    
    &.double-span{
        grid-column: 1 / span 2;
    }
    color: #eee;
    height: 100%;
    border: none;
}