@use 'components/index';
@font-face {
    font-family: 'Roboto Mono';
    src: url('fonts/RobotoMono-Medium.ttf');
}

body{
    #root{
        height: 100%;
    }
    font-family: 'Roboto Mono';
    height: 100vh;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    color: #eee
}
